# =========================================
# ! Đổi thông tin theo môi trường của bạn
# ? Copy file này thành .env và điền vào
# =========================================

# ! Cổng server
PORT=3000

# ! Kết nối MongoDB Atlas
MONGODB_URI=mongodb+srv://tuongvy401002_db_user:135797531@cluster0.hzp5x3b.mongodb.net/expense_management?retryWrites=true&w=majority&appName=Cluster0

# ? Môi trường
NODE_ENV=development
